<div class='box form'>
  <div class='box-title'></div>
  <div class='form'>
    <form action='/garden' method='post'>

      <fieldset>
        <legend>Whats your name?</legend>
        <div>
          <input type='text' id="name" name='name' placeholder="your name here" />
        </div>
      </fieldset>

      <fieldset>
        <legend>Select if you want a good or bad webpage</legend>
        <div>
          <input type='radio' value="good" id='good' name='good_evil' />
          <label for="good">Good</label>
        </div>
        <div>
          <input type='radio' value='bad' id='bad' name='good_evil' />
          <label for="bad">Bad</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Tell me what your favorite food is</legend>
        <div>
          <input type='text' id="food" name='food' placeholder="your fav food" />
        </div>
      </fieldset>

      <fieldset>
        <legend>Pick a color from the drop down list below</legend>
        <label for='color'>Choose a color</label>
        <select id='color' name='color'>
            <option value=''>--please choose a color--</option>
            <option value='red'>red</option>
            <option value='orange'>orange</option>
            <option value='yellow'>yellow</option>
            <option value='green'>green</option>
            <option value='blue'>blue</option>
            <option value='purple'>purple</option>
        </select>
      </fieldset>

      <fieldset>
        <legend>Move the slider to show me how crazy you want the page to be</legend>
        <label for="insanity-level">How insane do you want to be</label>
        <input type='range' id="insanity-level" name='insanity_level' min='0' max='3' value='0' />
      </fieldset>

      <fieldset>
        <legend>Finally submit me</legend>
        <input type='submit' value="submit me" method="post" />
      </fieldset>
    </form>
  </div>
</div>

<div class='{{preferences.good_evil}}'>
  <h3>Hi {{preferences.name}} </h3>
  <h4 class='box-title'>Likes and dislikes</h4>
  <div class='likes'>

  </div>
  <h4 class='box-title'>Biography</h4>
  <h5>Early Life</h5>
  <p>Im a very {{preferences.good_evil}} girl. I grew up in {{bio.birth}}. It was {{bio.ghetto}} i know. but i loved it.</p>
  <h5>Eduction</h5>
  <p>I went to school at {{bio.highschool}}. Where i learned {{bio.subject}}, after school i loved to {{bio.afterschool}}
    after high school  i went to {{bio.university}}. Where i majored in {{bio.major}}</p>
    <h5>Personal Life</h5>
    <p>Since i've always been a {{preferences.good_evil}} girl. I dated lots of {{preferences.good_evil}} boys</p>
  <div class='biography'>

  </div>

  <h4 class='box-title'>Resume</h4>
  <div class- 'resume'>

  </div>
</div>
